<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head> 

 <body>
        <nav>
                <a routerLink="/home">Home</a>&nbsp;&nbsp;
                <a routerLink="/Rgc">Registeration Form</a>&nbsp;&nbsp;
                <a routerLink="/Login">Login Form</a>&nbsp;&nbsp;
                <a routerLink="/Members">Members</a>&nbsp;&nbsp;
                <a routerLink="/Events">Events</a>&nbsp;&nbsp;
        </nav>
        <router-outlet></router-outlet>
</body>
</html>
